{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Guiar Seguros</title>
<meta name="google-site-verification" content="qg6_RVrujzzGo0dXmgyzZuvyTx0mBd3wynOJMGGgMC4" />
{% endblock %}

{% block content %}

{% include "Home/top-home.html" %}

<section id="welcome" class="hero is-fullheight" style="background-color: rgb(0,48,87)">
    <div class="container is-desktop" style="padding: 0">
        <h1 class="title is-1" style="text-align: center; margin-top: 100px; color: white">Nuestro trabajo</h1>
        <div class="hero-body">
            <div class="uk-text-center" uk-grid uk-height-match="target: > div > .card">
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Bienvenido_img1.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p align="justify">Te invitamos a conocer nuestra Asesoría en Seguros, con 27 años en el
                                    mercado asegurador,
                                    tenemos mucho que contarte y sabemos como proteger tu patrimonio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Bienvenido_img2.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p align="justify">Desarrollamos una plataforma confiable con varios expertos que nos
                                    permiten tener
                                    una herramienta en la incansable búsqueda de orientar a nuestros clientes en lo que
                                    deben
                                    saber de los seguros y tomar la mejor decisión cualitativa y económica.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Bienvenido_img3.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p align="justify">Brindamos un trabajo colaborativo con los directores, Gerentes,
                                    Administradores
                                    de contrato, supervisores, prevencioncitas de riesgos, para acompañarlos en un
                                    desarrollo sostenible y lograr en conjunto una correcta transferencia de riesgos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="hero is-fullheight">
    <div class="container is-desktop">
        <h1 class="title is-1" style="text-align: center; margin-top: 100px; color: rgb(0,48,87)">Servicios</h1>
        <div class="hero-body">
            <div class="uk-text-center" uk-grid uk-height-match="target: > div > .card">
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Servicios_img1.1.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="text-align: justify">
                                <ol type="1">
                                    <li>Nos especializamos en empresas pequeñas y medianas.</li>
                                    <li>Crecemos junto a tu empresa o negocios como un socio estratégico.</li>
                                    <li>Te ofrecemos un trabajo profesional y confiable para tus intereses en la
                                        protección de tu empresa y trabajadores.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Servicio_img2.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="text-align: justify">
                                <ol type="1">
                                    <li>Nuestro enfoque general es identificar el costo total del Riesgo bajo la premisa
                                        de Prevención + Retención + Transferencia.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Servicios_img3.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="text-align: justify">
                                <ol type="1">
                                    <li>Creamos licitaciones para programas de seguros integrales.</li>
                                    <li>Contamos con área operaciones que brindarán el mejor servicios y seguimientos a
                                        cada uno de los siniestros con el objetivo de mantener Continuidad Operacional.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mideturiesgo" class="hero is-medium" style="background-color: rgb(0,48,87)">
    <div class="container is-desktop">
        <h1 class="title is-1" style="text-align: center; margin-top: 100px; color: white">Mide Tu Riesgo</h1>
        <div class="hero-body" style="padding: 3rem;">
            <div class="uk-text-center" uk-grid uk-height-match="target: > div > .card">
                <div class="uk-width-1-1@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\1280px-Pipe_installation_2.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="text-align: justify">
                                <strong>¡Conoce tu poliza y ahorra tu tiempo con nosotros!</strong>
                                <div><br></div>
                                <a href="{% url 'profile' %}" class="card-footer-item button gs-btn-blue">Ir a
                                    Mideturiesgo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="partners" class="hero is-medium" style=" background-color:rgb(171,171,171)">
    <div class="container is-desktop" style="padding: 0">
        <h1 class="title is-1" style="text-align: center; margin-top: 100px; color: rgb(0,48,87)">Nuestras Alianzas</h1>
        <div class="hero-body" style="padding: 3rem;">
            <div class="uk-grid-small" uk-grid>
                <div>
                    <div class="uk-card uk-card-body">
                        <a href="https://www.bciseguros.cl/" target="_blank">
                            <img width="180" height="90" src="static\img\logos\BCI Seguros.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body" style="padding-top:50px">
                        <a href="https://www.bicevida.cl/" target="_blank">
                            <img width="180" height="90" src="static\img\logos\Bicevida.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body">
                        <a href="https://www14.chilena.cl/es-cl" target="_blank">
                            <img width="180" height="90" src="static\img\logos\Chilena Consolidada.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body" style="padding-top:50px">
                        <a href="https://web.consorcio.cl/home" target="_blank">
                            <img width="180" height="90" src="static\img\logos\Consorcio.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body">
                        <a href="https://www.hdi.cl/" target="_blank">
                            <img width="170" height="90" src="static\img\logos\HDI Seguros.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body">
                        <a href="https://www.liberty.cl/" target="_blank">
                            <img width="180" height="90" src="static\img\logos\Liberty Seguros.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body" style="padding-top:70px">
                        <a href="https://www.mapfre.cl/seguros-cl/" target="_blank">
                            <img width="180" height="90" src="static\img\logos\Mapfre.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body" style="padding-top:70px">
                        <a href="https://www.rentanacional.cl/home.php" target="_blank">
                            <img width="180" height="90" src="static\img\logos\Renta Nacional.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body" style="padding-top:75px">
                        <a href="https://www.vidasecurity.cl/" target="_blank">
                            <img width="180" height="90" src="static\img\logos\Vida Security.png" alt="Placeholder image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contacto" class="hero is-medium" style="background-color: rgb(0,48,87);">
    <div class="container is-fluid">
        <h1 class="title is-1" id="check" style="text-align: center; margin-top: 100px; color: white">Contacto</h1>
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@s" style="width: 450px; margin: auto;">
                <div class="card">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.848873101681!2d-70.40320428532488!3d-23.645582684641138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96afd53dfa6ed039%3A0x2aafadae66d4d962!2sGral.%20Manuel%20Baquedano%2050%2C%20Antofagasta!5e0!3m2!1ses-419!2scl!4v1600300647216!5m2!1ses-419!2scl"
                        width="100%" height="380" allowfullscreen></iframe>
                    <div class="card-content">
                        <div class="content" style="text-align: left;">
                            <li><i class="fa fa-home fa-2x" aria-hidden="true" style="color:rgb(0,48,87)"></i> Baquedano
                                #50, Edificio Singular, Oficina 811</li>
                            <li><i class="fa fa-envelope fa-2x" aria-hidden="true" style="color:rgb(0,48,87)"></i>
                                contacto@guiarseguros.cl</li>
                            <li><i class="fa fa-phone fa-2x " aria-hidden="true" style="color:rgb(0,48,87)"></i> Fono:
                                +56974788719 - +56973520746</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
</section>
<footer class="footer" style="background-color: rgb(171,171,171);">
    <div class="container is-fluid">
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@s" style="margin: auto;">
                <div class="content has-text-centered">
                    <p style="color: white;">
                        <b>Guiar Seguros</b> un sitio de Guiar Consultores.
                    </p>
                </div>
            </div>
            <div class="uk-width-1-5@s" style="margin: auto;">
                <div class="content has-text-centered">
                    <a href="http://www.cmfchile.cl/portal/principal/605/w3-channel.html" target="_blank">
                        <img src="static\img\logo-CMF.png" alt="Placeholder image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}