{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <title>Guiar Seguros</title>
{% endblock %}

{% block content %}
    <nav class="navbar is-fixed-top gs-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a id="insignia" class="navbar-item" href="{% url 'home' %}">
                <img src="{% static 'img/logoGC.png' %}">
            </a>

            <button class="button navbar-burger" type="button" uk-toggle="target: #offcanvas-overlay">
                <i class="fas fa-bars" style="color: black"></i>
            </button>
        </div>

        <div id="navMenu-bar" class="navbar-menu">
            <div class="navbar-start">
                <a id="item-about" href="" class="navbar-item">Mide tu riesgo</a>
                <a id="item-computer-lab" href="#welcome" class="navbar-item">Acerca de</a>
                <a id="item-computer-lab" href="#service" class="navbar-item">Servicios</a>
                <a id="item-computer-lab" href="" class="navbar-item">Alianzas</a>
                <a id="item-computer-lab" href="" class="navbar-item">Nuestro Trabajo</a>
                <a id="item-computer-lab" href="#contacto" class="navbar-item">Contacto</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="button gs-btn-blue"><strong>Mi cuenta</strong></a>
                            <a href="{% url 'logout' %}" class="button gs-btn-blue"><strong>Salir</strong></a>
                        {% else %}
                            <a href="{% url 'login' %}" class="button gs-btn-blue"><strong>Ingresar</strong></a>
                            <a href="{% url 'signUp' %}" class="button gs-btn-blue"><strong>Registrarte</strong></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="offcanvas-overlay" uk-offcanvas="overlay: true; flip: true; mode: push">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>Title</h3>
            <ul>
                <li>
                    <button class="button" style="width: 100%">Inicio</button>
                </li>
                <li>
                    <button class="button" style="width: 100%">Mideturiesgo</button>
                </li>
            </ul>
        </div>
    </div>
    {% include 'Home/top-home.html' %}

    <section id="welcome" class="hero is-fullheight" style="background-color: rgb(0,48,87)">
        <div class="container is-desktop" style="padding: 0">
            <h1 class="title is-1" style="text-align: center; margin-top: 100px; color: white">Bienvenido(a)</h1>
            <div class="hero-body">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-3@s">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="static\img\Bienvenido_img1.jpeg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p align="justify">Te invitamos a conocer nuestra Asesoría en Seguros, con 27 años en el mercado asegurador,
                                        tenemos mucho que contarte y sabemos como proteger tu patrimonio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@s">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="static\img\Bienvenido_img2.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p align="justify">Desarrollamos una plataforma confiable con varios expertos que nos permiten tener
                                        una herramienta en la incansable búsqueda de orientar a nuestros clientes en lo que deben
                                        saber de los seguros y tomar la mejor decisión cualitativa y económica.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@s">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="static\img\Bienvenido_img3.jpeg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p align="justify">Brindamos un trabajo colaborativo con los directores, Gerentes, Administradores
                                        de contrato, supervisores, prevencioncitas de riesgos, para acompañarlos en un
                                        desarrollo sostenible y lograr en conjunto una correcta transferencia de riesgos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service" class="hero is-fullheight">
        <div class="container is-desktop">
            <h1 class="title is-1" style="text-align: center; margin-top: 100px; color: rgb(0,48,87)">Servicios</h1>
            <div class="uk-text-center" uk-grid>
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Servicios_img1.1.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="text-align: justify">
                                <ol type="1">
                                    <li>Nos especializamos en empresas pequeñas y medianas.</li>
                                    <li>Crecemos junto a tu empresa o negocios como un socio estratégico.</li>
                                    <li>Te ofrecemos un trabajo profesional y confiable para tus intereses en la protección de tu empresa y trabajadores.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Servicio_img2.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="text-align: justify">
                                <ol type="1">
                                    <li>Nuestro enfoque general es identificar el costo total del Riesgo bajo la premisa de Prevención + Retención + Transferencia.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="uk-width-1-3@s">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="static\img\Servicios_img3.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="text-align: justify">
                                <ol type="1">
                                    <li>Creamos licitaciones para programas de seguros integrales.</li>
                                    <li>Contamos con área operaciones que brindarán el mejor servicios y seguimientos a
                                        cada uno de los siniestros que tengas con el objetivo de mantener Continuidad la Operacional de tu empresa.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contacto" class="hero is-fullheight" style="background-color: rgb(0,48,87)">
        <div class="container is-desktop">
            <h1 class="title is-1" style="text-align: center; margin-top: 100px; color: white">Contacto</h1>
            <div class="uk-text-center" uk-grid>
                <div class="uk-width-1-3" style="width: 500px">
                    <div class="card">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.848873101681!2d-70.40320428532488!3d-23.645582684641138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96afd53dfa6ed039%3A0x2aafadae66d4d962!2sGral.%20Manuel%20Baquedano%2050%2C%20Antofagasta!5e0!3m2!1ses-419!2scl!4v1600300647216!5m2!1ses-419!2scl" width="100%" height="380" style=""  allowfullscreen></iframe>
                    </div>
                </div>
                 <div class="uk-width-1-3" style="width: 500px">
                    <div class="card">
                        <div class="card-content">
                            <div class="content" style="text-align: left">
                                <li>Dirección: Baquedano N° 50, Edificio Singular, Oficina 811</li>
                                <li>Correo: contacto@guiarseguros.cl</li>
                                <li>N° Celular: (+56)987654321</li>
                                <li>N° Fijo: (+56) 55 2654321</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container is-fluid">
        <div class="container is-desktop">
            <footer>
                GuiarSeguros
            </footer>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
    <script>
    var buttons = document.querySelectorAll('a[data-target]');

    // Check if there are any nav burgers
    [].forEach.call(buttons, function(button) {
      button.addEventListener('click', function(e) {
        e.preventDefault();


        var pageloader = document.getElementById(e.currentTarget.dataset.target);
        console.log(pageloader);
        if (pageloader) {
          pageloader.classList.toggle('is-active');
          var pageloaderTimeout = setTimeout( function() {
            pageloader.classList.toggle('is-active');
            clearTimeout(pageloaderTimeout);
          }, 3000 );
        }
      } );
    });
    </script>
{% endblock %}