{% load static %}
<div class="slideshow-container container is-fluid" style="padding: 0">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="container is-fluid gs-cover" style="background-image: url('{% static 'img/carousel-3.jpg' %}')">
            <div class="box" style="background-color: rgba(0,0,0,0.7); margin-left: 1.25rem;">
                <article class="media">
                    <div class="media-content">
                        <h1 class="title is-1" style="color: white; padding: 12px;">SEGUROS A LA MEDIDA<br>PARA TU
                            EMPRESA O NEGOCIO</h1>
                        <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">Diseñamos tu perfil de
                            riesgo asociado según la actividad operacional o servicio</h1>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="container is-fluid gs-cover" style="background-image: url('{% static 'img/carousel-1.jpg' %}')">
            <div class="box" style="background-color: rgba(0,0,0,.7); margin-left: 1.25rem;">
                <article class="media">
                    <div class="media-content">
                        <h1 class="title is-1" style="color: white; padding: 12px;">INGRESA A NUESTRA<br>INNOVADORA
                            PLATAFORMA</h1>
                        <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">Descubre los seguros
                            que debe contar tu empresa y tus trabajadores.</h1>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="container is-fluid gs-cover" style="background-image: url('{% static 'img/carousel-2.jpg' %}')">
            <div class="box" style="background-color: rgba(0,0,0,0.7); margin-left: 1.25rem;">
                <article class="media">
                    <div class="media-content">
                        <h1 class="title is-1" style="color: white; padding: 12px;">ADMINISTRAMOS DE MANERA<br>INTEGRAL
                            Y EFICIENTE TUS RIESGOS</h1>
                        <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">
                            Te apoyamos en la administración de los riesgos de tu Empresa facilitando tus procesos
                            administrativos.</h1>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="container is-fluid gs-cover" style="background-image: url('{% static 'img/carousel-4.jpg' %}')">
            <div class="box" style="background-color: rgba(0,0,0,0.7); margin-left: 1.25rem;">
                <a href="https://www.hdi.cl/amsa/cotizador-web/soap/home.aspx" target="_blank">
                    <article class="media">
                        <div class="media-content">
                            <h1 class="title is-1" style="color: white; padding: 12px;">COMPRA TU SEGURO<br>OBLIGATORIO
                                2020</h1>
                            <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">
                                Ingresa a HDI para comprar tu SOAP 2020.</h1>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>