{% load static %}
<section id="slideshows" class="hero is-fullheight">
    <div uk-slideshow="autoplay: true autoplay-interval: 3000">
        <ul class="uk-slideshow-items" uk-height-viewport="min-height: 100vh">
            <li>
                <img src="static\img\carousel-3.jpg" alt="Placeholder" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-center-left uk-light">
                    <h1 class="title is-1" style="color: white; padding: 12px;">SEGUROS A LA MEDIDA<br>PARA TU
                        EMPRESA O NEGOCIO</h1>
                    <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">Diseñamos tu perfil de
                        riesgo asociado según la actividad operacional o servicio</h1>          
                </div>
            </li>
            <li>
                <img src="static\img\carousel-1.jpg" alt="Placeholder" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-center-left uk-light">
                    <h1 class="title is-1" style="color: white; padding: 12px;">INGRESA A NUESTRA<br>INNOVADORA
                        PLATAFORMA</h1>
                    <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">Descubre los seguros
                        que debe contar tu empresa y tus trabajadores.</h1>        
                </div>
            </li>
            <li>
                <img src="static\img\carousel-2.jpg" alt="Placeholder" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-center-left uk-light">
                    <h1 class="title is-1" style="color: white; padding: 12px;">ADMINISTRAMOS DE MANERA<br>INTEGRAL
                        Y EFICIENTE TUS RIESGOS</h1>
                    <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">
                        Te apoyamos en la administración de los riesgos de tu Empresa facilitando tus procesos
                        administrativos.</h1>   
                </div>
            </li>
            <li>
                <img src="static\img\carousel-4.jpg" alt="Placeholder" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-center-left uk-light">
                    <a href="https://www.hdi.cl/amsa/cotizador-web/soap/home.ashx?key=20201806_11614154_soap2582020124610495_9739&intrut=11614154&local=1&venid=0&next=home.aspx" target="_blank">
                        <h1 class="title is-1" style="color: white; padding: 12px;">COMPRA TU SEGURO<br>OBLIGATORIO
                            2020</h1>
                        <h1 class="title is-5" style="bottom: 35%; color: white; padding: 12px;">
                            Ingresa a HDI para comprar tu SOAP 2020.</h1>
                        </a>
                </div>
            </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous" style="color: white"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next" style="color: white"></a>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>    
</section>