{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <title>Iniciar Sesión - GuiarSeguros</title>
{% endblock %}

{% block content %}
<section id="login" class="hero is-fullheight" style="background-image: url('https://images7.alphacoders.com/311/311578.jpg');">
    <div class="container is-desktop">
        <div class="hero-body" style="margin-top:9rem">
            <div class="card" style="margin: 0 auto; background-color: transparent">
            <center style="background-color: rgba(255,255,255,.7)">
                <figure class="image" style="margin: 0!important; border: none">
                    <img src="{% static 'img/logoGC.png' %}" alt="" style="margin: 0; border: none">
                </figure>
            </center>
            <div class="card-content" style="background-color: darkgray; border-top-left-radius: 5px; border-top-right-radius: 5px">
                <form id="validacion-live" method="post" name="frm">
                    {% csrf_token %}
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            {{ form.rut }}
                            <span class="icon is-left">
                                <i class="fas fa-id-card"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            {{ form.password }}
                            <span class="icon is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <center><button type="submit" class="button gs-btn-blue">Ingresar</button></center>
                </form>
                <center style="margin-top: 15px"><a href="{% url 'recuperar' %}" style="color: white; margin-top: 25px">He olvidado mi contraseña</a></center>
            </div>
            <footer class="card-footer" style="border-top: none">
                <a href="{% url 'home' %}" class="button gs-btn-back">GuiarSeguros</a>
                <a href="{% url 'signUp' %}" class="button gs-btn-register">Registrarse</a>
            </footer>
        </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script>
        document.getElementById('id_rut').focus();
    </script>
    <script src="{% static 'js/rut_validate.js' %}"></script>
    <script>
        $("form#validacion-live #id_rut")
            .rut({formatOn: 'keyup', validateOn: 'keyup'})
            .on('rutInvalido', function(){
                $(this).addClass("is-danger")
            })
            .on('rutValido', function(){
                $(this).removeClass("is-danger")
            });
    </script>
{% endblock %}