{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slideform.css' %}">
    <link rel="stylesheet" href="{% static 'css/design_option.css' %}">
{% endblock %}

{% block content %}
<div class="container is-fluid">
    <div class="container is-desktop">
        <!-- Slideshow container -->
        <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                {% include 'Poll/forms/form_personal_BS.html' %}
            </div>

            <div class="mySlides fade">
                {% include 'Poll/forms/form_personal_BM.html' %}
            </div>

            <div class="mySlides fade">
                {% include 'Poll/forms/form_sale.html' %}
            </div>

            <div class="mySlides fade">
                {% include 'Poll/forms/form_dotacion.html' %}
            </div>

            <div class="mySlides fade">
                {% include 'Poll/forms/form_process.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/poll.js' %}"></script>
{% endblock %}