{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slideform.css' %}">
{% endblock %}

{% block content %}
<div class="container is-fluid">
    <div class="container is-desktop">
        <!-- Slideshow container -->
        <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                {% include 'Poll/forms/form_personal_BS.html' %}
            </div>

            <div class="mySlides fade">
                {% include 'Poll/forms/form_personal_BM.html' %}
            </div>

            <div class="mySlides fade">
                <div class="text">Caption Three</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function () {
        var $form = $('#id_personal_BS');
        $form.submit(function (event) {
            event.preventDefault();
            var $formData = $(this).serialize();
            var $thisURL = $form.attr('data-url');
            $.ajax({
                method: 'POST',
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
            })
        });

        function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            plusSlides(1);
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
        }
    });
    </script>
    <script>
        $(document).ready(function () {
            var $form_bm = $('#id_personal_BM');
            $form_bm.submit(function (event) {
                event.preventDefault();
                var $formData = $(this).serialize();
                var $thisURL = $form_bm.attr('data-url');
                $.ajax({
                    method: 'POST',
                    url: $thisURL,
                    data: $formData,
                    success: handleFormSuccess,
                    error: handleFormError,
                })
            });

            function handleFormSuccess(data, textStatus, jqXHR){
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
                plusSlides(1);
            }

            function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });

    </script>
    <script>
    var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
    </script>
{% endblock %}