<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% autoescape off %}
        Hola,
        Recibimos una solicitud para restablecer la contraseña de su cuenta para esta dirección de correo electrónico. Para iniciar el proceso de restablecimiento de contraseña para su cuenta, haga clic en el enlace a continuación.

        {{ protocol }}://{{ domain }}{% url 'codigo'%} e ingrese el siguiente código: <b>{{ token }}</b><br>

        Si necesita restablecer su contraseña nuevamente, visite {{ protocol }}://{{domain}} y solicite otro restablecimiento.

        Si no realizó esta solicitud, simplemente puede ignorar este correo electrónico.

        Sinceramente,
        El equipo de GuiarSeguros

    {% endautoescape %}
</body>
</html>