{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Solicitud enviada - GuiarSeguros</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="gs-cover" style="background-image: url('https://images7.alphacoders.com/311/311578.jpg');">
        <div class="card" style="margin: 0 auto; background-color: transparent">
            <center style="background-color: rgba(255,255,255,.7)">
                <figure class="image" style="margin: 0!important; border: none">
                    <img src="{% static 'img/logoGC.png' %}" alt="" style="margin: 0; border: none">
                </figure>
            </center>
            <div class="card-content" style="background-color: darkgray; border-top-left-radius: 5px; border-top-right-radius: 5px">
                <p style="margin-bottom: 15px">
                    Revisa la bandeja de tu correo electronico y sigue las instrucciones especificadas.
                </p>
                <center><a href="{% url 'login' %}" class="button gs-btn-blue">Iniciar Sesión</a></center>
            </div>
        </div>
    </div>
{% endblock %}