{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Olvidé mi contraseña</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="gs-cover" style="background-image: url('https://images7.alphacoders.com/311/311578.jpg');">
        <div class="card" style="margin: 0 auto; background-color: transparent">
            <center style="background-color: rgba(255,255,255,.7)">
                <figure class="image" style="margin: 0!important; border: none">
                    <img src="{% static 'img/logoGC.png' %}" alt="" style="margin: 0; border: none">
                </figure>
            </center>
            <div class="card-content" style="background-color: darkgray; border-top-left-radius: 5px; border-top-right-radius: 5px">
                <p>Ingresa tu correo electronico con la cual registraste tu cuenta </p>
                <p style="margin-bottom: 15px">para que recibas las instrucciones de como recuperar tu cuenta.</p>
                <form method="post" name="frm">
                    {% csrf_token %}
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            {{ form }}
                            <span class="icon is-left">
                                <i class="fas fa-id-card"></i>
                            </span>
                        </p>
                    </div>
                    <center><button type="submit" class="button gs-btn-blue">Recuperar mi cuenta</button></center>
                </form>
                <center style="margin-top: 15px"><a href="{% url 'home' %}" style="color: white; margin-top: 25px">Volver a GuiarSeguros</a></center>
            </div>
        </div>
    </div>
{% endblock %}