<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% autoescape off %}
    Hola,
    Recibimos una solicitud para restablecer la contraseña de su cuenta para esta dirección de correo electrónico. Para iniciar el proceso de restablecimiento de contraseña para su cuenta, haga clic en el enlace a continuación.

{{ protocol }}://{{ domain }}{% url 'recovery-pass-confirm' uidb64=uid token=token %}

Este enlace solo se puede utilizar una vez. Si necesita restablecer su contraseña nuevamente, visite {{ protocol }}://{{domain}} y solicite otro restablecimiento.

If you did not make this request, you can simply ignore this email.

Si no realizó esta solicitud, simplemente puede ignorar este correo electrónico.

Sinceramente,
El equipo de GuiarSeguros

{% endautoescape %}
</body>
</html>