{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Olvidé mi contraseña</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section id="login" class="hero is-fullheight" style="background-image: url('https://images7.alphacoders.com/311/311578.jpg');">
    <div class="container is-desktop">
        <div class="hero-body" style="margin-top:9rem">
            <div class="card" style="margin: 0 auto; background-color: transparent">
                <center style="background-color: rgba(255,255,255,.7)">
                    <figure class="image" style="margin: 0!important; border: none">
                        <img src="{% static 'img/logoGC.png' %}" alt="" style="margin: 0; border: none">
                    </figure>
                </center>
                <div class="card-content" style="background-color: darkgray; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <p>Ingresa el correo electronico con la cual registraste tu cuenta.</p>
                        <p id="mensaje" style="color:white"></b></p>
                    <form method="post" id="recovery">
                        {% csrf_token %}
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                {{ form_recuperar.email }}
                                <span class="icon is-left">
                                    <i class="fas fa-id-card"></i>
                                </span>
                            </p>
                        </div>
                        <center><button type="submit" class="button gs-btn-blue">Recuperar mi cuenta</button></center>
                    </form>
                    <center style="margin-top: 15px"><a href="{% url 'home' %}" style="color: white; margin-top: 25px">Volver a GuiarSeguros</a></center>
                </div>
            </div>
        </div>
    </div>
</section>

{% block script %}
<script>
    $(document).ready(function(){
        $('#recovery').on('submit', async function(e){
            e.preventDefault();
            var serializedData = $(this).serialize();
            await $.ajax({
                type: 'POST',
                url: "{% url 'recuperar' %}",
                data: serializedData,
                success: function (response) {
                    if(document.getElementById('error')){
                        document.getElementById("mensaje").removeChild(document.getElementById('error'));
                    }
                    var b = document.createElement('b')
                    b.setAttribute('id', 'error');
                    b.append(response.mensaje);
                    document.getElementById("mensaje").append(b);
                },
                error: function(response){
                    if(document.getElementById('error')){
                        document.getElementById("mensaje").removeChild(document.getElementById('error'));
                    }
                    var b = document.createElement('b');
                    b.setAttribute('id', 'error');
                    b.append(response.mensaje);
                    document.getElementById("mensaje").append(b);
                }
            });
        });
    });
</script>
{% endblock %}
{% endblock %}