{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar is-fixed-top gs-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a id="insignia" class="navbar-item" href="{% url 'home' %}">
                <img src="{% static 'img/logoGC.png' %}">
            </a>

            <button class="button navbar-burger" type="button" uk-toggle="target: #offcanvas-overlay">
                <i class="fas fa-bars" style="color: white"></i>
            </button>
        </div>

        <div id="navMenu-bar" class="navbar-menu">
            <div class="navbar-start">
                <a id="item-about" href="{% url 'profile' %}" class="navbar-item">MideTuRiesgo</a>
                <a id="item-computer-lab" href="" class="navbar-item">Contacto</a>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}

{% block script %}

{% endblock %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
