<div id="modal_update_manager" uk-modal>
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head" style="background-color: rgb(0,48,87); border: none">
            <p class="modal-card-title" style="color: white">Datos del representante</p>
            <button id="close_manager" class="uk-modal-close" aria-label="close"></button>
        </header>
        <form id="form_update_manager" method="post" data-url="{% url 'update-manager' %}">
            {% csrf_token %}
            <section class="modal-card-body" style="background-color: gray">
                <label style="color: white" for="{{ formManager.fullname.id_for_label }}">RUT</label>
                {{ formManager.rut_bm }}
                <label style="color: white" for="{{ formManager.fullname.id_for_label }}">Nombre Completo</label>
                {{ formManager.fullname }}
                <label style="color: white" for="{{ formManager.email.id_for_label }}">Correo electronico</label>
                {{ formManager.email }}
                <label style="color: white" for="{{ formManager.phone.id_for_label }}">Celular</label>
                {{ formManager.phone }}
            </section>
            <footer class="modal-card-foot" style="background-color: rgb(0,48,87); border: none">
                <button id="save_manager" type="submit" class="button" style="background-color: rgb(0,94,184); border: none; color: white">Guardar Cambios</button>
                <button id="cancel-manager" class="button uk-modal-close" style="background-color: rgb(0,94,184); border: none; color: white">Cancelar</button>
            </footer>
        </form>
    </div>
</div>