<div id="modal_change_password" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head" style="background-color: rgb(0,48,87); border: none">
            <p class="modal-card-title" style="color: white">Datos del representante</p>
            <button id="close_change_password" class="delete" aria-label="close"></button>
        </header>
        <form id="form_change_password" method="post" data-url="{% url 'update-manager' %}">
            {% csrf_token %}
            <section class="modal-card-body" style="background-color: gray">
            </section>
            <footer class="modal-card-foot" style="background-color: rgb(0,48,87); border: none">
                <button id="save_manager" type="submit" class="button" style="background-color: rgb(0,94,184); border: none; color: white">Guardar Cambios</button>
                <a id="cancel_change_password" class="button" style="background-color: rgb(0,94,184); border: none; color: white">Cancelar</a>
            </footer>
        </form>
    </div>
</div>