{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slideform.css' %}">
    <link rel="stylesheet" href="{% static 'css/design_option.css' %}">
{% endblock %}

{% block content %}
<div class="container is-fluid">
    <div class="container is-desktop">
        <div style="margin-bottom: 15px">
            <h3 class="title">5.-  ¿En la empresa para su funcionamiento se utilizan y/o manipulan explosivos?</h3>
            <p>Asegurese que la información este actualizada</p>
        </div>
        <form id="id_process" method="post">
            {% csrf_token %}
            <div class="container">
                {% for i in form.confirm %}
                    <div class="input-radio">
                        {{ i.tag }}
                        <label for="{{ i.id_for_label }}" class="unselectable">{{ i.choice_label }}</label>
                    </div>
                {% endfor %}
            </div>
            <div>
                <a class="button" onclick="plusSlides(-1)">Anterior</a>
                <button type="submit" class="button">Siguiente</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}