{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slideform.css' %}">
    <link rel="stylesheet" href="{% static 'css/design_option.css' %}">
{% endblock %}

{% block content %}
<div class="gs-cover" style="background-color: rgb(0,48,87)">
    <div class="container is-desktop">

        <div style="margin-bottom: 15px">
            <h3 class="title" style="color: white;">5.- Marque todas las actividades de CONSTRUCCION que realiza la empresa a ser evaluada</h3>
            <p style="color: white">Asegurese que la información este actualizada</p>
        </div>
        <form id="id_process" method="post">
            {% csrf_token %}
            <div class="container">
                {% for i in form.building %}
                    <div class="input-radio">
                        {{ i.tag }}
                        <label for="{{ i.id_for_label }}" class="unselectable">{{ i.choice_label }}</label>
                    </div>
                {% endfor %}
            </div>
            <div>
                <button class="button" type="button" id="previous" onclick="history.go(-1)" style="background-color: rgb(0,94,184); color: white; border: none">Anterior</button>
                <button type="submit" class="button" style="background-color: rgb(0,94,184); color: white; border: none">Siguiente</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}