<div style="margin-bottom: 15px">
    <h3 class="title">1.- Datos generales de la empresa</h3>
    <p>Asegurese que la información este actualizada</p>
</div>
<form id="id_personal_BS" method="post" data-url="{% url 'poll-personal' %}">
    {% csrf_token %}
    <div class="field">
        <label for="{{ BS_profile.name_BS.id_for_label }}" class="label">Razón Social</label>
        <div class="control">
            {{ BS_profile.name }}
        </div>
    </div>
    <div class="field">
        <label for="{{ BS_profile.rut_BS.id_for_label }}" class="label">RUT</label>
        <div class="control">
            {{ BS_profile.rut }}
        </div>
    </div>
    <div class="field">
        <label for="{{ BS_profile.seniority.id_for_label }}" class="label">Antigüedad de la empresa (años)</label>
        <div class="control">
            {{ BS_profile.seniority }}
        </div>
    </div>
    <div class="field">
        <label for="{{ BS_profile.address.id_for_label }}" class="label">Dirección</label>
        <div class="control">
            {{ BS_profile.address }}
        </div>
    </div>
    <div class="field">
        <label class="label">Ciudad</label>
        <div class="control">
            <div class="select">
                {{ BS_profile.city }}
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Comuna</label>
        <div class="control">
            <div class="select">
                {{ BS_profile.town }}
            </div>
        </div>
    </div>
    <div>
        <button class="button" onclick="plusSlides(-1)">Anterior</button>
        <button type="submit" class="button">Siguiente</button>
    </div>
</form>