{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slideform.css' %}">
    <link rel="stylesheet" href="{% static 'css/design_option.css' %}">
{% endblock %}

{% block content %}
<div class="gs-cover" style="background-color: rgb(0,48,87)">
    <div class="container is-desktop">
        <div style="margin-bottom: 15px">
            <h3 class="title" style="color: white">2.- Datos del representante</h3>
            <p style="color: white">Asegurese que la información este actualizada</p>
        </div>
        <form id="id_personal_BM" method="post">
            {% csrf_token %}
            <div class="field">
                <label for="{{ BM_profile.fullname.id_for_label }}" class="label" style="color: white">Nombre</label>
                <div class="control">
                    {{ form.fullname }}
                </div>
            </div>
            <div class="field">
                <label for="{{ form.rut_bm.id_for_label }}" class="label" style="color: white">RUN</label>
                <div class="control">
                    {{ form.rut_bm }}
                </div>
            </div>
            <div class="field">
                <label for="{{ BM_profile.email.id_for_label }}" class="label" style="color: white">email</label>
                <div class="control">
                    {{ form.email }}
                </div>
            </div>

            <label for="{{ BM_profile.phone.id_for_label }}" class="label" style="color: white">Celular</label>
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">
                        +56
                    </a>
                </p>
                <p class="control">
                    {{ form.phone }}
                </p>
            </div>
            <div class="boton">
                <input class="uk-button" type="button" id="previous" onclick="history.go(-1)" value="Anterior" style="background-color: rgb(0,94,184); color: white; border: none">
            </div>
            <button type="submit" class="button" style="background-color: rgb(0,94,184); color: white; border: none">Siguiente</button>
        </form>
    </div>
</div>
{% endblock %}