<div style="margin-bottom: 15px">
    <h3 class="title">5.- Indique el o los rubros en que participa la empresa</h3>
    <p>Asegurese que la información este actualizada</p>
</div>
<form id="id_process" method="post">
    {% csrf_token %}
    <div class="container">
        {% for i in process_form.process %}
            <div class="input-radio">
                {{ i.tag }}
                <label for="{{ i.id_for_label }}" class="unselectable">{{ i.choice_label }}</label>
            </div>
        {% endfor %}
    </div>
    <div>
        <a class="button" onclick="plusSlides(-1)">Anterior</a>
        <button type="submit" class="button">Siguiente</button>
    </div>
</form>