.gs-background .container{
    background-color: rgba(0,0,0,.8);
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.gs-btn-back{
    background-color: rgb(0,48,87);
    color: white!important;
    border: none;
    width: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.gs-btn-back:hover{
    background-color: rgb(0,94,184);
    color: white!important;
}

.gs-btn-register{
    background-color: rgb(0,48,87);
    color: white!important;
    border: none;
    width: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.gs-btn-register:hover{
    background-color: rgb(0,94,184);
    color: white!important;
}

/* Scroll View */
@media(min-height: 350px){
    body::-webkit-scrollbar{
        display: none; /* hide scrollbar for Chrome, Safari and Opera */
    }

    body{
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}